.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  &__container {
    display: flex;
    flex-direction: column;
    flex: 0;
    text-align: center;
    margin: 2% 0;
    opacity: 0;
    overflow: auto;
    transition: all 0.5s ease-in-out;
    p {
      padding: 6%;
    }
    &__mail {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex: 1;
    }
    &__social {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex: 1;
      & a {
        & i {
          font-size: 300%;
        }
      }
    }
  }
}
