$colour-primary: rgb(223, 17, 144);
$colour-secondary: rgb(11, 216, 252);
$colour-tertiary: green; 
$colour-bg: rgb(10, 10, 10);
$colour-bg-transparent: rgb(10, 10, 10, 0.7);
$colour-text: rgb(199, 199, 199);

$typo-title: 'Oswald', sans-serif;
$typo-text: 'Montserrat', sans-serif;